
<h1>Orders</h1>


<table class="table table-hover">
  <thead class="thead thead-dark">
    <tr class="table-info">
      
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Quantity</th>
      <th>Total price</th>
      <th>Item</th>
 
      <th colspan="3">Actions</th> 
    </tr>
  </thead>

  <tbody>
    <% @orders&.each do |order| %>
      <tr class="table-info">
        <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td><%= order.email %></td>
        <td><%= order.mobile %></td>
        <td><%= order.quantity %></td>
        <td><%= order.total_price %></td>
        <td><%= order.item.name %></td>
       <!--  <td><%#= link_to 'Show', order  if current_user.role_id == User::USER_ROLES["User"] %></td> %></td> -->
        <%#= link_to 'Edit', edit_order_path(order) if current_user.role_id == User::USER_ROLES["Admin"] %><!-- 
        <td><%#= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } if current_user.role_id == User::USER_ROLES["Resto"] %></td> -->
     
         <td><%= link_to 'accept', update_status_order_path(id: order.id, status: 'confirmed'),  :class=>"btn btn-success" %></td>
          
         <td><%= link_to 'reject', update_status_order_path(id: order.id, status: 'rejected'), :class=>"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Order', new_order_path %>
